@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: "JetBrains Mono", monospace;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #1a1a1a;
}

.highlight-border {
	border-color: #1a1a1a;
}

.foreground {
	background-color: #242424;
}

.red-alert-bg {
	background-color: darkred;
	background-image: repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 10px,
		#242424 10px,
		#242424 20px
	);
}

.purple-alert-bg {
	background-color: darkslateblue;
	background-image: repeating-linear-gradient(
		-45deg,
		transparent,
		transparent 10px,
		#242424 10px,
		#242424 20px
	);
}

.toast {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 100;
	left: 50%;
	bottom: 30px;
}

.toast.show {
	visibility: visible;

	-webkit-animation:
		fadein 0.5s,
		fadeout 0.5s 2.5s;
	animation:
		fadein 0.5s,
		fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		bottom: 0;
		opacity: 0;
	}
	to {
		bottom: 30px;
		opacity: 1;
	}
}

@-webkit-keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

@keyframes fadeout {
	from {
		bottom: 30px;
		opacity: 1;
	}
	to {
		bottom: 0;
		opacity: 0;
	}
}

input {
	background-color: #3b3b3b;
	color: #fff;
}

.clicky {
	box-shadow: 6px 6px #377e7f;
}

.clicky:hover {
	box-shadow: unset;
	position: relative;
	right: -6px;
	bottom: -6px;
}

.expand {
	max-height: 700px !important;
	overflow: auto !important;
}
